<html>
    {% load staticfiles %}
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/core.css" %}">
        <title>
            Me2
        </title>
    </head>
    <body>
        <div id = "topCentre">
                <div class ="logo"><img src = "static/me2 yellow logo.jpg" height = "100px" width = "100px"></div>
        </div>
        <div id="contentBlock">
            <div id = "leftBlock">
                leftBlock
            </div>
            <div id = "centreBlock" >
                This is the centreBlock
            </div>
            <div id = "rightBlock">
                This is the rightBlock
            </div>
        </div>





    </body>






</html>