div {
}
#topCentre {
    height: 20%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    background-color: #fed325;
}
.logo {
    float: none;
    margin-left: auto;
    margin-right: auto;
    color: red;
}
#contentBlock {
    height: 40vw;
    text-align: center;
    background-color: #fed325;
}
#centreBlock {
    display: inline-block;
    vertical-align: top;
    width: 30vw;
    min-height: 40vw;
    background-color: #fed325;
    /*border: 1px dashed;*/
}
#leftBlock {
    display: inline-block;
    vertical-align: top;
    width: 29vw;
    min-height: 40vw;
    background-color: #fed325;
    margin-left: -1%;
    /*border: 1px dashed;*/
}
#rightBlock {
    display: inline-block;
    vertical-align: top;
    width: 29vw;
    min-height: 40vw;
    background-color: #fed325;
    margin-right: -1;
    /*border: 1px dashed;*/
}